@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-vfs-blue: #002d56;
  --color-vfs-gold: #c5a059;
  --color-vfs-light: #f4f7f9;
}

@layer base {
  body {
    @apply bg-vfs-light text-slate-900 font-sans;
  }
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-sm;
}
